*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    background-color: #111;
    color: #ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

a
{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

h1
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 34px;
    padding: 50px 0;
    text-align: center;
}

h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 26px;
    padding: 25px 0;
    text-align: center;
}

.h2-sub
{
    color: #777;
    display: block;
    font-size: 18px;
    font-style: oblique;
    padding: 10px 0;
}

p
{
    line-height: 1.4;
    padding: 15px;
    text-indent: 30px;
}

p + p
{
    padding-top: 0;
}

::selection
{
    background: #444;
}

.main-nav
{
    background-color: #222;
    display: flex;
    position: sticky;
    top: 0;
}

.main-nav > div
{
    border-right: 1px solid #111;
    transition: background-color 250ms;
}

.main-nav > div:hover
{
    background-color: #333;
    transition: background-color 250ms;
}

.main-nav > div:last-child
{
    border-left: 1px solid #111;
    border-right: none;
    margin-left: auto;
}

.main-nav a
{
    display: inline-block;
    padding: 25px;
}

.dropdown
{
    background-color: #222;
    text-align: center;
    transition: background-color 250ms;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-label
{
    cursor: s-resize;
    padding: 25px;
    transition: background-color 250ms;
}

.dropdown-label:hover
{
    background-color: #333;
    transition: background-color 250ms;
}

.dropdown-content
{
    background-color: #222;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.dropdown-content a
{
    border-top: 1px solid #111;
    display: block;
    min-width: 100vw;
    padding: 25px;
    transition: background-color 250ms;
}

.dropdown-content a:last-child
{
    border-bottom: 1px solid #000;
}

.dropdown-content a:hover
{
    background-color: #333;
    transition: background-color 250ms;
}